body{
    font-family: Arial, sans-serif;
    background-color: #000000;
    padding: 10px;
}
.container{
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border: 2px solid #ffffff;
    border-radius: 30px;
}
h2{
    text-align: center;
    color: #ffffff;
}
input {
    width: 50%;
    padding: 8px;
}
button {
    padding: 8px;
    cursor: pointer;
}
ul{
    list-style: none;
    padding: 0;
}